*.[oa]
*~
*.obj
*.pro.user*
*.exe
*.dll
*.lib
*.bin
*.so

sys
prj/*/*/*
!prj/*/*_vs/*.sln
!prj/*/*_vs/*.vcxproj
!prj/*/*_vs/*.vcxproj.filters
!prj/*/*_vs/*.vcxproj.user
!prj/*/*_qt/*.pro
!prj/*/*_qt/*.pri
prj/core/DOOCSapi_vs/DOOCSapi.vcxproj.user

workspaces/*/*
!workspaces/*_vs/*.sln
!workspaces/*_vs/*.vcxproj
!workspaces/*_vs/*.vcxproj.filters
